@tailwind base;
@tailwind components;
@tailwind utilities;

// Seus estilos personalizados aqui // Variáveis SCSS
$primary-color: #83a034;
$secondary-color: #10b981;

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Estilos personalizados
.custom-button {
  @apply px-4 py-2 rounded-lg font-medium;
  background-color: $primary-color;
  color: white;
} 